@use "./var" as *;

@use "sass:meta";

/* the digital ibuprofen equivalent */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* crt effect */

html::before,
html::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

html::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.02),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.02)
    );
  background-size: 100% 2px, 3px 100%;
}

html::after {
  background: rgba(16, 18, 18, 0.2);
  opacity: 0;
  animation: flicker 0.15s infinite;
}

.scan-line {
  position: fixed;
  opacity: 0.2;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 2px solid #666;
  animation: scan 2.8s infinite steps(48);
  z-index: 1;
}

.nav-bar {
  padding: 12px;
  min-width: 240px;
  width: 240px;
  height: 100%;
  background-color: $bgitem;
  border-right: $border;
  font-family: "DepartureMono", monospace;
  font-size: 30px;
  line-height: 35px;
  text-shadow: $accent1-shadow-light;
  color: $fg;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px $accent1;
  box-shadow: 0px 0px 64px -28px $fg;
  z-index: 10;

  a {
    color: $accent1;
    text-shadow: $accent1-shadow-light;
    transition: $q-glow;
    text-decoration: none;

    &:hover {
      text-shadow: $accent1-shadow-heavy;
      transition: $q-glow;
    }
  }

  nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li::before {
      content: "├";
      margin-right: 12px;
    }
    li:last-child::before {
      content: "└";
      margin-right: 12px;
    }

    .depth-2::before {
      content: "│ ├";
    }
    .depth-2:last-child::before {
      content: "│ └";
    }
  }

  nav a[href^="https://"]
  {
    color: $accent2;
    text-shadow: $accent2-shadow-light;

    &:hover {
      text-shadow: $accent2-shadow-heavy;
    }
  }
}

/* Content */

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100dvh;

  font-family: "DepartureMono", monospace;
  font-size: 25px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  hyphens: auto;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin: auto 0;
  padding-block: 1rem;
  font-family: $title;
  color: $fg;
}

h2 {
  font-size: 1.5em;
  font-family: $title;
  color: $fg;
}

.frame {
  position: relative;
  width: 100%;
  border: none;
  padding: 16px;
  height: 100%;
  background-color: $bg;
  overflow: auto; /* ← scroll inside this area */
}

article {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 16px;
  color: $fg;
  font-size: 30px;
  font-family: "DepartureMono", monospace;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Blog */

.blog {
  @include meta.load-css("blog.scss");
}

/* Reduced motion */

@media (prefers-reduced-motion: reduce) {
  html::after,
  html::before {
    animation: none;
    display: none;
  }

  .scan-line {
    display: none;
    animation: none;
  }

  .frame::after,
  .frame::before {
    display: none;
  }
}

/* Older browsers */

@supports not (width: 100dvh) {
  body {
    height: 100vh;
  }
}

/* Styling animations */

@keyframes flicker {
  0% {
    opacity: 0.26;
  }
  5% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.26;
  }
}

@keyframes scan {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Phones and tablets */

@media (max-width: 700px) {
  body {
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 1.5em;
    hyphens: auto;
  }

  .nav-bar {
    min-width: unset;
    width: 100%;
    border: 0;
    max-height: 206px;
    overflow-y: scroll;
    border-top: $border;
    overflow-x: hidden;
  }
}