---
import "../styles/style.scss";

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="404" description="" author="PIC1" />
  </head>

  <body>
    <NavBar />

    <div class="frame">
      <article>
        <header class="center">
          <h2 transition:animate="slide">ERR 404</h2>
        </header>

        <main transition:animate="slide">
          <p>CODE ERROR: [ 404 ] - PAGENOTFOUND </p>
        </main>
      </article>
    </div>
  </body>
</html>
