---
import "../styles/style.scss";

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="About Us" description="" author="PIC1" />
  </head>

  <body>
    <div class="scan-line"></div>
    
    <NavBar />

    <div class="frame">
      <article>
        <header class="center">
          <h2 transition:animate="slide">About Us</h2>
        </header>

        <main transition:animate="slide">
          <h1>Who are we?</h1>

          <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>ist1</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cristina</td>
                <td>Wang</td>
                <td>109386</td>
              </tr>
              <tr>
                <td>Lexin</td>
                <td>Weng</td>
                <td>110627</td>
              </tr>
              <tr>
                <td>Lumi</td>
                <td>Pereira</td>
                <td>109813</td>
              </tr>
              <tr>
                <td>Sara</td>
                <td>Pereira</td>
                <td>109311</td>
              </tr>
              <tr>
                <td>Tiago</td>
                <td>Duanmu</td>
                <td>111173</td>
              </tr>
              <tr>
                <td>Yaqi</td>
                <td>Xu</td>
                <td>103762</td>
              </tr>
            </tbody>
          </table>

        </main>
      </article>
    </div>
  </body>
</html>
