---
import "../styles/style.scss";

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="About Us" description="" author="PIC1" />
  </head>

  <body>
    <div class="scan-line"></div>

    <NavBar />

    <div class="frame">
      <article>
        <header class="center">
          <h2 transition:animate="slide">About Us</h2>
        </header>

        <main transition:animate="slide">
          <h1>Team</h1>

          <h3>Cristina Wang - ist1109386</h3>

          Making the PCBs in Kicad, researching and ordering components,
          building the prototype board.

          <hr />

          <h3>Lexin Weng - ist1110627</h3>

          Making 3D exterior model, the general internal layout, and the
          modularity of the design.

          <hr />

          <h3>Lumi Pereira - ist1109813</h3>

          Writing the website, programming the microcontroller, and comms
          between sensors.

          <hr />

          <h3>Sara Pereira - ist1109311</h3>

          Researching the Ground Station, implementing it in GNURadio or Matlab,
          programming comms between the antennas.

          <hr />

          <h3>Tiago Duanmu - ist1111173</h3>

          Managing the satellite power budget, researching solar panels and
          batteries, and designing the power system and connections.

          <hr />

          <h3>Yaqi Xu - ist1103762</h3>

          Researching sensor usage, evaluating the project results, producing
          the final video, and poster.

          <hr />

          <h1>Professors</h1>

          <strong>Scientific Advisor</strong>: Professor Ayman Radwan
          <br />
          <strong>Scientific Co-advisor</strong>: Professor Mariana Santana
          <br />
          <strong>Coordinator</strong>: Professor Carlos Fernandes
          <br />
          <strong>Mentor</strong>: Professor João Felício
        </main>
      </article>
    </div>
  </body>
</html>
